.JokeTable {
  text-align: center;
}

.JokeTable_FormStyle {
    display: block;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}

.JokeTable_Label {
    padding-right: 20px;
}